@font-face {
  font-family: 'Sohne';
  src: url(../../public/fonts/TestSöhne-Kräftig.otf);
}

body {
  font-family: 'Sohne', sans-serif;
}

.bot-message {
  font-size: 20px;
  padding: 10px;
  background-color: #f0f0f0; 
  border-radius: 10px;
  margin-bottom: 30px; 
  width: fit-content; 
  max-width: 60%; 
  float: left; 
}

.user-message {
  font-size: 20px;
  padding: 10px;
  background-color: #007bff; 
  color: #fff; 
  border-radius: 10px;
  margin-bottom: 30px; 
  width: fit-content; 
  max-width: 60%; 
  float: right; 
}

.user-message-m {
  font-size: 14px;
  padding: 7px;
  background-color: #007bff; 
  color: #fff; 
  border-radius: 10px;
  margin-bottom: 30px; 
  width: fit-content; 
  max-width: 80%; 
  float: right; 
}

.bot-message-m {
  font-size: 14px;
  padding: 10px;
  background-color: #f0f0f0; 
  border-radius: 10px;
  margin-bottom: 30px; 
  width: fit-content; 
  max-width: 80%; 
  float: left; 
}

.input-group-custom input {
  font-size: 20px !important;
}

.input-group-custom input::placeholder {
  font-size: 20px !important; 
}

.input-group-custom-m input {
  font-size: 15px;
}

.input-group-custom-m input::placeholder {
  font-size: 15px; 
}
  
.bg-customgray {
  background-color: #212121;
}

.bg-customgray-active {
  background-color: #212121;
  color: #fff;
}

.bg-customgray2 {
  background-color: #e5e5e5;
}

.bg-customdark {
  background-color: #171717;
}

.bg-customdark2 {
  background-color: #383838;
}

.text-customgray {
  color: #b4b4b4;
}

.text-customwhite {
  color: #ececec;
}

.btn-dark-custom {
  background-color: #171717; 
  color: #fff; 
}

.btn-dark-custom:hover {
  background-color: #222222; 
  color: #fff; 
}

.inner-button {
  display: none;
}

.inner-button:hover {
  display: inline-block;
}
